## 1. Python Keywords

Keywords in Python are reserved words that cannot be used as ordinary identifiers, They must be spelled sexctly as they are writter.

In [1]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
print(len(keyword.kwlist))

35

## 2. Identifiers

Identifiers (also reffered to as names) is given to entities like class, functions, cariable etc. in Python. It helps differentiating one entity from another.

Identifiers can be a conbination of letters in lowercase(a to z) UPPERCASE (A TO Z)or digit (0 to 9) or an underscore(_).
Identifiers cannot start with a digit. but 'abc123' is perfectly fine. Keywords cannot be used as identifiers.

In [4]:
99someone = 100

SyntaxError: invalid syntax (<ipython-input-4-f278e52fc08d>, line 1)

In [5]:
someone99 = 100
print(someone99)

100

In [6]:
break = 1

SyntaxError: invalid syntax (<ipython-input-6-dbb844e64c6c>, line 1)

In [7]:
hello@ = 10

SyntaxError: invalid syntax (<ipython-input-7-8ec273500b38>, line 1)

In [8]:
hello_=10

## 3. Comments in Python

In [9]:
# This is a single line comment. Has no effect on the code below

abc = 50

In [10]:
# This is a Multi line comment. Has no effect on the code below
# This is a Multi line comment. Has no effect on the code below
# This is a Multi line comment. Has no effect on the code below
abc = 10

In [11]:
'''
This is a Multi line comment. Has no effect on the code below
This is a Multi line comment. Has no effect on the code below
This is a Multi line comment. Has no effect on the code below
'''

'\nThis is a Multi line comment. Has no effect on the code below\nThis is a Multi line comment. Has no effect on the code below\nThis is a Multi line comment. Has no effect on the code below\n'

In [12]:
"""
This is a Multi line comment. Has no effect on the code below
This is a Multi line comment. Has no effect on the code below
This is a Multi line comment. Has no effect on the code below
"""

'\nThis is a Multi line comment. Has no effect on the code below\nThis is a Multi line comment. Has no effect on the code below\nThis is a Multi line comment. Has no effect on the code below\n'

In [13]:
def square(num):
    """
    Function to square a number
    Print this docstring using __doc__ attribute of the function
    """
    return num * num

print(square(20))

400

In [14]:
print(square.__doc__)

    Function to square a number
    Print this docstring using __doc__ attribute of the function

In [ ]:
square  #Press shift+tab to view the docstring

## 4. Python Indentation

In [15]:
variable1 = 10
  variable2 = 20

IndentationError: unexpected indent (<ipython-input-15-ba614b5bbaf0>, line 2)

In [16]:
variable1 = 10
variable2 = 20

In [19]:
for i in range (1,4):
    print(i)

1
2
3

In [20]:
variable1=10;variable2=20

for i in range (1,4): print(i)

1
2
3

## 5. Python Statements

In [21]:
number = 10

In [22]:
number = 10+20+ \
         30+40+ \
         50

print(number)

150

In [23]:
number = (10 +20 +
         30 + 40 +
         50)
print(number)

150

In [24]:
integerNumber = 4
decimalNumber = 22.2
stringVariable = "StringValue"
print(integerNumber,decimalNumber,stringVariable)

4 22.2 StringValue

In [25]:
integerNumber,decimalNumber,stringVariable = 4,22.2,"StringValuse"
print(integerNumber,decimalNumber,stringVariable)

4 22.2 StringValuse

In [26]:
variable1=variable2=variable3 = "All variable assigned same value"
print(variable1, variable2,variable3)

All variable assigned same value All variable assigned same value All variable assigned same value

In [27]:
print(id(integerNumber))

140711150920176

In [28]:
print(id(decimalNumber))

2215978142096

In [12]:
integer1 = 257
integer2 = 257
print(id(integer1))
print(id(integer2))

2230714564144
2230714564080

In [31]:
integer1 = 10
print(id(integer1))

140711150920368

In [32]:
integer2 = 20
print(id(integer2))

140711150920688

In [33]:
integer2 = 10
print(id(integer2))

140711150920368

In [1]:
integer1 = 10
print(id(integer1))

140711150920368

In [2]:
data1 = 12
print(type(data1))

<class 'int'>

In [4]:
data2 = 12.5
print(type(data2))

<class 'float'>

In [5]:
data3 = 100+ 2j
print(type(data3))

<class 'complex'>

In [6]:
print(data3, "is complex number?", isinstance(data3,complex))

(100+2j) is complex number? True

In [7]:
print(data3, "is complex number?", isinstance(data3,float))

(100+2j) is complex number? False

In [8]:
booleanVariable = True
print(type(booleanVariable))

<class 'bool'>

In [15]:
stringVariable = "This is a string variable"
print(stringVariable)
print(stringVariable[0])

This is a string variable
T

In [16]:
print(stringVariable[0:7])
print(stringVariable[:7])
print(stringVariable[5:])
print(stringVariable[-1])

This is
This is
is a string variable
e

In [17]:
print(stringVariable[-1:])

e

In [18]:
print(stringVariable[::-1])

elbairav gnirts a si sihT

In [19]:
print(stringVariable[:-1])

This is a string variabl

In [20]:
myList = [1,2.2,"ThirdElement",12,24,"More Values"]

In [21]:
print(myList[2])

ThirdElement

In [22]:
myList[2] = "ElementThree"

In [23]:
myList

[1, 2.2, 'ElementThree', 12, 24, 'More Values']

In [24]:
myList.remove(2.2)

In [25]:
myList

[1, 'ElementThree', 12, 24, 'More Values']

In [26]:
myList.pop(2)
myList

[1, 'ElementThree', 24, 'More Values']

In [27]:
myTuple = (10,20,30,"Text")

In [28]:
print(myTuple[2])

30

In [29]:
myTuple[2]=20

TypeError: 'tuple' object does not support item assignment

In [30]:
myset = {10,20,30,40,50}
print(myset)

{40, 10, 50, 20, 30}

In [31]:
myset = {10,10,30,30,40}
print(myset)

{40, 10, 30}

In [32]:
print(type(myset))

<class 'set'>

In [33]:
print(myset[0])

TypeError: 'set' object is not subscriptable

In [34]:
mydict={'key1':"value1",'key2':"value2",'key3':"value3"}
print(mydict['key2'])

value2

In [35]:
mydict['key2'] = "value2.2"
print(mydict)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3'}

In [36]:
del mydict["key2"]
print(mydict)

{'key1': 'value1', 'key3': 'value3'}

In [37]:
str(5)

'5'

In [38]:
str(5.5)

'5.5'

In [39]:
int('5')

5

In [40]:
int('5.5')

ValueError: invalid literal for int() with base 10: '5.5'

In [42]:
float('5.5')

5.5

In [43]:
float('5')

5.0

In [44]:
inr('char10')

NameError: name 'inr' is not defined

In [45]:
mynewstring = 'text1' + 20 + 'text2'

TypeError: can only concatenate str (not "int") to str

In [46]:
mynewstring = 'text1' + str(20) + 'text2'

In [47]:
mynewstring

'text120text2'

In [48]:
myList1 = ['a','b','c','c']
print(myList1)
print(type(myList1))

myset1 = set(myList1)
print(type(myset1))
print(myset1)

['a', 'b', 'c', 'c']
<class 'list'>
<class 'set'>
{'b', 'c', 'a'}

In [49]:
string = 'This is string to list'
print(type(string))

<class 'str'>

In [50]:
tolist = list(string)
print(type(tolist))
print(tolist)

<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']

In [ ]:
myList = [1,2,3,4,5] using while loop


factorial of a number